.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

#topmenu {
    padding-left: 2.2em;
}

.flashbox {
    margin-left: 1.1em;
    margin-right: 1.1em;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}